.git
.next
node_modules
release
dist
coverage

.npm-cache
.codex
.cursor
.claude
.windsurf
.idea
.vscode

*.log
*.tmp
*.tsbuildinfo
*.pyc
__pycache__
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*
Dockerfile*
docker-compose*.yml
